<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Solo Testnet Explorer</title>

	<link href="css/main.css" rel="stylesheet"/>
	<link href="css/font-awesome.min.css" rel="stylesheet"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

<div id="app" v-cloak="">
	<div class="header panel">
		<div class="logo">
			<a href="index.html">
				<img src="imgs/logo.png"/> Testnet Explorer
			</a>
		</div>
		<div class="search">
			<search></search>
		</div>
	</div>


	<div class="pageContainer">

		<div v-if="transaction !== null">
			<div class="panel">
				<div class="title"><i class="fa fa-exchange fa-fw" aria-hidden="true"></i> Transaction</div>
				<div class="content padding10">
					<div class="" v-if="transaction.in_pool" >In mempool</div>
					<div class="">Hash: <span class="value2">{{transaction.tx_hash}}</span></div>
					<div class="">Public key: <span class="value2">{{txPubKey}}</span></div>
					<div v-if="transaction.as_json.rct_signatures.fee" class="">Fee: <span class="value2">{{transaction.as_json.rct_signatures.txnFee | piconero}} XSV</span></div>
					<div v-if="sumOutputs > 0" class="">Sum outputs: <span class="value2">{{sumOutputs | piconero}} XSV</span></div>
					<div class="">Extra: <span class="value2">{{extraAsHex}}</span></div>
					<div v-if="paymentId != ''" class="">Payment ID: <span class="value2">{{paymentId}}</span></div>
					<div v-if="encryptedPaymentId != ''" class="">Encrypted Payment ID: <span class="value2">{{encryptedPaymentId}}</span></div>
					<div class="">Mixin: <span class="value2">{{mixinCount}}</span></div>
					<div class="">Type:
						<span class="value2" v-if="transaction.as_json.rct_signatures.type === 0">No RingCT</span>
						<span class="value2" v-if="transaction.as_json.rct_signatures.type === 1">Full RingCT</span>
						<span class="value2" v-if="transaction.as_json.rct_signatures.type === 2">Simple RingCT</span>
						<span class="value2" v-if="transaction.as_json.rct_signatures.type === 3">Full Bulletproof</span>
						<span class="value2" v-if="transaction.as_json.rct_signatures.type === 4">Simple Bulletproof</span>
						<span class="value2" v-if="transaction.as_json.rct_signatures.type === 5">Full Bulletproof (v2)</span>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="title"><i class="fa fa-cube fa-fw" aria-hidden="true"></i>In block</div>
				<div class="content padding10">
					<table>
						<thead>
						<tr>
							<td>Hash</td>
							<td>Height</td>
							<td>Date</td>
						</tr>
						</thead>
						<tbody>
						<tr v-if="!transaction.in_pool" v-for="block of blocks">
							<td><a :href="'block.html?hash='+block.hash">{{block.hash}}</a></td>
							<td><a :href="'block.html?height='+block.height">{{block.height}}</a></td>
							<td>{{block.timestamp | date}}</td>
						</tr>
						<tr v-if="transaction.in_pool">
							<td colspan="3" class="tac" >
								In mempool : Waiting to be included in a block
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel" id="inputs">
				<div class="title"><i class="fa fa-long-arrow-left fa-fw" aria-hidden="true"></i>Inputs ({{vinLength}})</div>
				<div class="content padding10">
					<table>
						<thead>
						<tr>
							<td>Amount</td>
							<td>Image</td>
							<td>Offsets</td>
						</tr>
						</thead>
						<tbody>
						<tr v-for="input of transaction.as_json.vin" v-if="input.key">
							<td>{{input.key.amount | piconero}} XSV</td>
							<td>{{input.key.k_image}}</td>
							<td>{{input.key.key_offsets | offsets}}</td>
						</tr>
						<tr v-if="vinLength === 0">
							<td colspan="3" class="tac">None</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel" id="outputs">
				<div class="title"><i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i>Outputs
					<span v-if="decodedOuts.length == 0" >({{transaction.as_json.vout.length}})</span>
					<span v-if="decodedOuts.length != 0" >({{decodedOuts.length}})</span>
				</div>
				<div class="content padding10">
					<table>
						<thead>
						<tr>
							<td>Amount</td>
							<td>Image</td>
						</tr>
						</thead>
						<tbody>
						<tr v-if="decodedOuts.length == 0" v-for="output of transaction.as_json.vout">
							<td>{{output.amount | piconero}} XSV</td>
							<td>{{output.target.key}}</td>
						</tr>
						<tr v-if="decodedOuts.length != 0" v-for="output of decodedOuts" >
							<td>{{output.amount | piconero}} XSV</td>
							<td>{{output.pubKey}}</td>
						</tr>
						<tr v-if="transaction.as_json.vout.length === 0">
							<td colspan="2" class="tac">None</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel" >
				<div class="title" >Check you received something</div>
				<div class="content padding10" >
					<div class="field" >
						<label>Public address</label>
						<input type="text" v-model="publicAddress" placeholder="5x...." >
					</div>
					<div class="field" >
						<label>Private view key</label>
						<input type="text" v-model="privateViewKey" placeholder="64 characters" >
					</div>
					<div class="tac" >
						<button @click="proveOwnership()" class="btn">Verify</button>
					</div>
				</div>
			</div>

			<div class="panel" >
				<div class="title" >Prove sending</div>
				<div class="subtitle" >"Transaction private key" can be obtained using the "get_tx_key" command in solo-wallet-cli command line tool or in the transaction details on the webwallet</div>
				<div class="content padding10" >
					<div class="field" >
						<label>Recipient's address/subaddress</label>
						<input type="text" v-model="publicAddress" placeholder="5x...." >
					</div>
					<div class="field" >
						<label>Transaction private key</label>
						<input type="text" v-model="transactionPrivateKey" placeholder="64 characters" >
					</div>
					<div class="tac" >
						<button @click="proveSending()" class="btn">Verify</button>
					</div>
				</div>
			</div>

		</div>
		<div v-else="">
			Loading ...
		</div>
	</div>

	<div class="pageContainer footer padding10">
		<div class="copyright">© 2018-2019 <a href="https://minesolo.org" >Solo</a></div>
		<div class="daemonInfo">
			<div class="container" >
				Node info<br/>
				<ul>
					<li>Status: <span v-if="!networkInfo.offline" >Online</span><span v-else="" >Offline</span></li>
					<li v-if="networkInfo.version">Version: {{networkInfo.version}}</li>
					<li>Blocks count: {{networkInfo.height}}</li>
					<li>Difficulty: {{networkInfo.difficulty}}</li>
					<li>RPC connections: {{networkInfo.rpc_connections_count}}</li>
					<li>Incoming P2P connections: {{networkInfo.incoming_connections_count}}</li>
					<li>Outgoing P2P connections: {{networkInfo.outgoing_connections_count}}</li>
					<li>White peers: {{networkInfo.white_peerlist_size}}</li>
					<li>Grey peers: {{networkInfo.grey_peerlist_size}}</li>
				</ul>
			</div>
		</div>
	</div>
fo
</div>


<script src="lib/vuejs/vue.js"></script>
<script src="lib/cn/biginteger.js"></script>
<script src="lib/cn/base58.js"></script>
<script src="lib/cn/sha3.js"></script>
<script src="lib/cn/crypto.js"></script>
<script src="lib/cn/nacl-fast.js"></script>
<script src="config.js"></script>
<script src="lib/cn/cn_utils.js"></script>
<script src="lib/jquery/jquery-3.3.1.min.js"></script>
<script src="lib/requirejs/require.js" data-main="transaction.js"></script>

</body>
</html>
